<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="ZBCRoomInfoDbEntities" connectionString="metadata=res://*/DataAccess.RoomModel.csdl|res://*/DataAccess.RoomModel.ssdl|res://*/DataAccess.RoomModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=ZBCRoomInfoDb;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ZBCRoomInfoDbEntities1" connectionString="metadata=res://*/DataAccess.RoomModel.csdl|res://*/DataAccess.RoomModel.ssdl|res://*/DataAccess.RoomModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=ZBCRoomInfoDb;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>