.bodyStyle{
  background-color: lightgreen;
}
.login-form-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.mat-card-loginbox{
  box-shadow: 5px 5px 8px grey;
}
.button-flex-container {
  display: flex;
  width: 100%;
  justify-content: center;
}
.mat-success {
  background-color: lightgreen;
  color: white;
}
input:invalid {
  outline-color: red;
}
